.selected {
  background-color: #CFD8DC !important;
}
.items {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.items li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.items li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.items li.selected:hover {
  background-color: #BBD8DC !important;
}
.items .text {
  position: relative;
  top: -3px;
}
.items .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}
button {
  font-family: Arial;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  overflow: auto;
}
button:hover {
  background-color: #cfd8dc;
}

.card {
  margin: 10px;
  padding: 10px;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.2);
  height: 100%;
}
.image {
  width: 100%;
  height: auto;
  margin: 10px;
  transition: 0.1s linear;
  background-size: cover;
  background-position: center center;
}

.card-title {
  margin-bottom: 1rem;
  font-family: Raleway;
  font-weight: 900;
}

.container {
  min-height: 600px;
}
