.itemImage img{
  max-height: 500px;
  padding: 20px 0;
  margin: 0 auto;
}

.itemCategory{
  font-size: 15px;
  font-weight: 500;
  margin-top: 20px;
  color:#5b5555;
}

.itemName{
  font-size: 20px;
  font-weight: 700;
}

.itemDescription{
  font-size: 18px;
  font-weight: 500;
  margin-top: 20px;
}

.itemPrice{
  font-size: 22px;
  font-weight: 500;
  margin-top: 20px;
}

#price{
  color: #d85420;
}

#addToCart{
   margin-top: 20px;
}
