/* Add a dark background color with a little bit see-through */
.navbar {
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity:0.9;
}

/* Add a gray color to all navbar links */
.navbar li a, .navbar .navbar-brand {
    color: #d5d5d5 !important;
}

.navbar .navbar-brand {
  padding: 0px;
  margin-right: 4em;
}

.navbar #logo {
  width: 100px;
  height: 100%;
}

/*@media (min-width: 768px) {
  .navbar #search-form {
    width: 500px;
  }
}*/

@media (min-width: 768px) {
  .navbar-form {
    width: 50%;
  }
  .form-group.search-group {
    width: 75%;
  }
  .form-control.search-form {
    width: 100%;
  }
  .navbar-form .btn {
    width: 20%;
  }
}

@media (max-width: 1100px) and (min-width: 768px){
  .navbar-right {
    display: none;
  }
}

/* On hover, the links will turn white */
.navbar-nav li a:hover {
    color: #fff !important;
}

/* The active link */
.navbar-nav li.active a {
    color: #fff !important;
    background-color:#29292c !important;
}

/* Remove border color from the collapsible button */
.navbar-default .navbar-toggle {
    border-color: transparent;
}

/* Dropdown */
.open .dropdown-toggle {
    color: #fff ;
    background-color: #555 !important;
}

/* Dropdown links */
.navbar, .dropdown, .dropdown-menu {
   z-index: 1001;
}
.dropdown-menu li a {
    color: #000 !important;
}

/* On hover, the dropdown links will turn red */
.dropdown-menu li a:hover {
    background-color: #02a2ca !important;
}

@media (min-width: 768px) {
  .navbar li a#zipcode {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
  }
}

@media (max-width: 1270px) and (min-width: 768px){
  .navbar li a#zipcode {
    display: none;
  }
}
