<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
	<table id="cart" class="table table-hover table-condensed">
  	<thead>
  	<tr>
  		<th style="width:40%" class="text-center">Order Id</th>
  		<th style="width:25%" class="text-center">Order Price</th>
  		<th style="width:35%" class="text-center">Transaction Date</th>
  	</tr>
  </thead>
  <tbody>
  	<tr *ngFor="let item of orderItems">
  		<td data-th="OrderId" class="text-center">{{item.order_id}}</td>
  		<td data-th="Subtotal" class="text-center">{{item.order_total}}</td>
      <td data-th="TransactionDate" class="text-center">{{item.dateOfOrder}}</td>
  	</tr>
  </tbody>
  <tfoot>
  	<tr>
  		<td><a href="#" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
  		<td colspan="2" class="hidden-xs"></td>
  	</tr>
  </tfoot>
  </table>
</div>
