.carousel-inner img {
    width: 100%;
    margin: auto;
}

.carousel-caption h3 {
    color: #fff;
}

@media (max-width: 768px) {
    .carousel-caption {
        display: none;
    }
}

[class*='col-'] {
  padding-left: 0px;
  padding-right: 0px;
}

.bar {
  padding-top: 10px;
}

.bar-list {
  background-color: rgb(239, 239, 239);
}

.myDivider {
  border-right: 1px solid white;
  height: 402px;
  margin-top: 70px;
}

@media (max-width: 768px) {
  .myDivider {
    display: none;
  }
}

.horizontal-bar {
  height: 300px;
}
