<div id="dashboardCarousel" class="carousel slide" data-ride="carousel">

  <ol class="carousel-indicators">
    <li data-target="#dashboardCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#dashboardCarousel" data-slide-to="1"></li>
    <li data-target="#dashboardCarousel" data-slide-to="2"></li>
    <li data-target="#dashboardCarousel" data-slide-to="3"></li>
    <li data-target="#dashboardCarousel" data-slide-to="4"></li>
  </ol>


  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <a [routerLink]="['/detail', '1']">
        <img src="assets/ny.jpg" alt="New York">
        <div class="carousel-caption">
          <h3>New York</h3>
          <p>The atmosphere in New York is lorem ipsum.</p>
        </div>
      </a>
    </div>

    <div class="item">
      <a [routerLink]="['/detail', '1']">
        <img src="assets/chicago.jpg" alt="Chicago">
        <div class="carousel-caption">
          <h3>Chicago</h3>
          <p>Thank you, Chicago - A night we won't forget.</p>
        </div>
      </a>
    </div>

    <div class="item">
      <a [routerLink]="['/detail', '1']">
        <img src="assets/la.jpg" alt="Los Angeles">
        <div class="carousel-caption">
          <h3>LA</h3>
          <p>Even though the traffic was a mess, we had the best time.</p>
        </div>
      </a>
    </div>

    <div class="item">
      <a [routerLink]="['/detail', '1']">
        <img src="assets/4.jpg" alt="Los Angeles">
      </a>
    </div>

    <div class="item">
      <a [routerLink]="['/detail', '1']">
        <img src="assets/5.jpg" alt="Los Angeles">
      </a>
    </div>
  </div>

  <a class="left carousel-control" href="#dashboardCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#dashboardCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!--  list of heading categores-->
<div class="bar-list">
  <div class="container bar">
    <div class="row">
      <!-- block pitures 1 -->

      <div *ngIf="itemsClothing.length > 0" class="col-sm-5">
        <a [routerLink]="['/items']" [queryParams]="{ category: 'Clothing' }">
          <h1>Clothing</h1>
        </a>
        <div class="col-sm-8">
          <a [routerLink]="['/detail', itemsClothing[0].id]">
            <img class="img-thumbnail" [src]="itemsClothing[0].imgUrl" style="height: 402px; width: 100%" alt="Image">
          </a>
        </div>
        <div class="col-sm-4">
          <a [routerLink]="['/detail', itemsClothing[1].id]">
              <img class="img-thumbnail" [src]="itemsClothing[1].imgUrl" style="height: 134px; width: 100%" alt="Paris">
          </a>
          <a [routerLink]="['/detail', itemsClothing[2].id]">
              <img class="img-thumbnail" [src]="itemsClothing[2].imgUrl" style="height: 134px; width: 100%" alt="Paris">
          </a>
          <a [routerLink]="['/detail', itemsClothing[3].id]">
              <img class="img-thumbnail" [src]="itemsClothing[3].imgUrl" style="height: 134px; width: 100%" alt="Paris">
          </a>
        </div>
      </div>
      <!-- devider -->
      <div class="col-sm-1">
          <div class="myDivider">
          </div>
      </div>
      <!-- block pitures 2 -->
      <div *ngIf="itemsClothing.length > 0" class="col-sm-5 col-sm-offset-1">
        <a [routerLink]="['/items']" [queryParams]="{ category: 'Clothing' }">
          <h1>Clothing</h1>
        </a>
        <div class="col-sm-8">
          <a [routerLink]="['/detail', itemsClothing[0].id]">
            <img class="img-thumbnail" [src]="itemsClothing[0].imgUrl" style="height: 402px; width: 100%" alt="Image">
          </a>
        </div>
        <div class="col-sm-4">
          <a [routerLink]="['/detail', itemsClothing[1].id]">
              <img class="img-thumbnail" [src]="itemsClothing[1].imgUrl" style="height: 134px; width: 100%" alt="Paris">
          </a>
          <a [routerLink]="['/detail', itemsClothing[2].id]">
              <img class="img-thumbnail" [src]="itemsClothing[2].imgUrl" style="height: 134px; width: 100%" alt="Paris">
          </a>
          <a [routerLink]="['/detail', itemsClothing[3].id]">
              <img class="img-thumbnail" [src]="itemsClothing[3].imgUrl" style="height: 134px; width: 100%" alt="Paris">
          </a>
        </div>
      </div>
      <!--  -->
    </div>
  </div>

  <div class="container bar">
    <div>
      <h1>Shoes</h1>
    </div>
    <div class="row text-center">
        <div class="col-sm-3">
          <div class="thumbnail">
            <img [src]="myItem.imgUrl" alt="Paris">
            <p><strong>Paris</strong></p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="thumbnail">
            <img [src]="myItem.imgUrl" alt="New York">
            <p><strong>New York</strong></p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="thumbnail">
            <img [src]="myItem.imgUrl" alt="San Francisco">
            <p><strong>San Francisco</strong></p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="thumbnail">
            <img [src]="myItem.imgUrl" alt="San Francisco">
            <p><strong>San Francisco</strong></p>
          </div>
        </div>
      </div>
  </div>

  <div class="container bar">
    <div class="row">
      <!-- block pitures 1 -->

      <div *ngIf="itemsClothing.length > 0" class="col-sm-5">
        <a [routerLink]="['/items']" [queryParams]="{ category: 'Clothing' }">
          <h1>Clothing</h1>
        </a>
        <div class="col-sm-8">
          <a [routerLink]="['/detail', itemsClothing[0].id]">
            <img class="img-thumbnail" [src]="itemsClothing[0].imgUrl" style="height: 402px; width: 100%" alt="Image">
          </a>
        </div>
        <div class="col-sm-4">
          <a [routerLink]="['/detail', itemsClothing[1].id]">
              <img class="img-thumbnail" [src]="itemsClothing[1].imgUrl" style="height: 134px; width: 100%" alt="Paris">
          </a>
          <a [routerLink]="['/detail', itemsClothing[2].id]">
              <img class="img-thumbnail" [src]="itemsClothing[2].imgUrl" style="height: 134px; width: 100%" alt="Paris">
          </a>
          <a [routerLink]="['/detail', itemsClothing[3].id]">
              <img class="img-thumbnail" [src]="itemsClothing[3].imgUrl" style="height: 134px; width: 100%" alt="Paris">
          </a>
        </div>
      </div>
      <!-- devider -->
      <div class="col-sm-1">
          <div class="myDivider">
          </div>
      </div>
      <!-- block pitures 2 -->
      <div *ngIf="itemsClothing.length > 0" class="col-sm-5 col-sm-offset-1">
        <a [routerLink]="['/items']" [queryParams]="{ category: 'Clothing' }">
          <h1>Clothing</h1>
        </a>
        <div class="col-sm-8">
          <a [routerLink]="['/detail', itemsClothing[0].id]">
            <img class="img-thumbnail" [src]="itemsClothing[0].imgUrl" style="height: 402px; width: 100%" alt="Image">
          </a>
        </div>
        <div class="col-sm-4">
          <a [routerLink]="['/detail', itemsClothing[1].id]">
              <img class="img-thumbnail" [src]="itemsClothing[1].imgUrl" style="height: 134px; width: 100%" alt="Paris">
          </a>
          <a [routerLink]="['/detail', itemsClothing[2].id]">
              <img class="img-thumbnail" [src]="itemsClothing[2].imgUrl" style="height: 134px; width: 100%" alt="Paris">
          </a>
          <a [routerLink]="['/detail', itemsClothing[3].id]">
              <img class="img-thumbnail" [src]="itemsClothing[3].imgUrl" style="height: 134px; width: 100%" alt="Paris">
          </a>
        </div>
      </div>
      <!--  -->
    </div>
  </div>

  <div class="container bar">
    <div>
      <h1>Shoes</h1>
    </div>
    <div class="row text-center">
        <div class="col-sm-3">
          <div class="thumbnail">
            <img [src]="myItem.imgUrl" alt="Paris">
            <p><strong>Paris</strong></p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="thumbnail">
            <img [src]="myItem.imgUrl" alt="New York">
            <p><strong>New York</strong></p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="thumbnail">
            <img [src]="myItem.imgUrl" alt="San Francisco">
            <p><strong>San Francisco</strong></p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="thumbnail">
            <img [src]="myItem.imgUrl" alt="San Francisco">
            <p><strong>San Francisco</strong></p>
          </div>
        </div>
      </div>
  </div>
</div>
