<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <a [routerLink]="['/detail', '1']">
        <img src="assets/ny.jpg" alt="New York">
        <div class="carousel-caption">
          <h3>New York</h3>
          <p>The atmosphere in New York is lorem ipsum.</p>
        </div>
      </a>
    </div>

    <div class="item">
      <a [routerLink]="['/detail', '1']">
        <img src="assets/chicago.jpg" alt="Chicago">
        <div class="carousel-caption">
          <h3>Chicago</h3>
          <p>Thank you, Chicago - A night we won't forget.</p>
        </div>
      </a>
    </div>

    <div class="item">
      <a [routerLink]="['/detail', '1']">
        <img src="assets/la.jpg" alt="Los Angeles">
        <div class="carousel-caption">
          <h3>LA</h3>
          <p>Even though the traffic was a mess, we had the best time.</p>
        </div>
      </a>
    </div>

    <div class="item">
      <a [routerLink]="['/detail', '1']">
        <img src="assets/4.jpg" alt="Los Angeles">
      </a>
    </div>

    <div class="item">
      <a [routerLink]="['/detail', '1']">
        <img src="assets/5.jpg" alt="Los Angeles">
      </a>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<h3>Top Items</h3>
<div class="grid grid-pad">
  <a *ngFor="let item of items"  [routerLink]="['/detail', item.id]"  class="col-1-4">
    <img class="item-thumbnail" [src]="item.imgUrl"/>
    <div class="module item">
      <h4>{{item.name}}</h4>
    </div>
  </a>
</div>
<div class="grid grid-pad">
  <a *ngFor="let item of items"  [routerLink]="['/detail', item.id]"  class="col-1-4">
    <img class="item-thumbnail" [src]="item.imgUrl"/>
    <div class="module item">
      <h4>{{item.name}}</h4>
    </div>
  </a>
</div>
<div class="grid grid-pad">
  <a *ngFor="let item of items"  [routerLink]="['/detail', item.id]"  class="col-1-4">
    <img class="item-thumbnail" [src]="item.imgUrl"/>
    <div class="module item">
      <h4>{{item.name}}</h4>
    </div>
  </a>
</div>
<div class="grid grid-pad">
  <a *ngFor="let item of items"  [routerLink]="['/detail', item.id]"  class="col-1-4">
    <img class="item-thumbnail" [src]="item.imgUrl"/>
    <div class="module item">
      <h4>{{item.name}}</h4>
    </div>
  </a>
</div>
<div class="grid grid-pad">
  <a *ngFor="let item of items"  [routerLink]="['/detail', item.id]"  class="col-1-4">
    <img class="item-thumbnail" [src]="item.imgUrl"/>
    <div class="module item">
      <h4>{{item.name}}</h4>
    </div>
  </a>
</div>
<div class="grid grid-pad">
  <a *ngFor="let item of items"  [routerLink]="['/detail', item.id]"  class="col-1-4">
    <img class="item-thumbnail" [src]="item.imgUrl"/>
    <div class="module item">
      <h4>{{item.name}}</h4>
    </div>
  </a>
</div>
<div class="grid grid-pad">
  <a *ngFor="let item of items"  [routerLink]="['/detail', item.id]"  class="col-1-4">
    <img class="item-thumbnail" [src]="item.imgUrl"/>
    <div class="module item">
      <h4>{{item.name}}</h4>
    </div>
  </a>
</div>
<div class="grid grid-pad">
  <a *ngFor="let item of items"  [routerLink]="['/detail', item.id]"  class="col-1-4">
    <img class="item-thumbnail" [src]="item.imgUrl"/>
    <div class="module item">
      <h4>{{item.name}}</h4>
    </div>
  </a>
</div>
